.header-PR {
    display: block;
}
.text-center {
    text-align: center !important;
}
.form-group {
    margin-bottom: 1rem;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
table {
    border-collapse: collapse;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.mt-n3, .my-n3 {
    margin-top: -1rem !important;
}
.pt-sm-5, .py-sm-5 {
    padding-top: 3rem !important;
}
.page-break {
    page-break-after: always;
}
.bt-po {
    border-bottom: 2px solid; 
    position: inherit; 
    bottom: 28px; 
    margin-bottom: 0;
    width: 45%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Appropriation style */
.fw-700 {
    font-weight: 700;
}
.table-black-border {
    border: 3px solid #0f0f10! important;
}
.align-left {
    text-align: left;
}
.bbc-soa {
    border-bottom-color: black!important;
    border-left: hidden!important;
}        
.align-left span {
    margin-left: 1rem;
}
.mooe {
    position: relative;
    margin-top: 23px;
    left: 44px;
}
.per-s {
    left: 45px;
    position: relative;
    margin-top: 1rem;
}
.spa-p {
    left: 45px;
    position: relative;
    margin-top: 20px;
}
.total-appro {
    left: 45px;
    position: relative;
    top: 20px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}