html, body {       
    height: auto;
}   
@page {
    size: auto;
    margin-top: 1cm;
}
body {margin-bottom: 1cm;} 
table { page-break-inside:auto}
tr    { page-break-inside:auto; page-break-after:auto;display: table-row; }
thead { display:table-header-group }
tfoot { display:table-footer-group }


.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.header-PR {
    display: block;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
table {
    border-collapse: collapse;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.mt-n3, .my-n3 {
    margin-top: -1rem !important;
}
.pt-sm-5, .py-sm-5 {
    padding-top: 3rem !important;
}
.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.purchase-order p{
    margin: 10px 0 0 0 !important;
}
.align-left {
    text-align: left;
}
.break-page{
    page-break-after: always;
}
.bt-po {
    border-bottom: 1px solid;
    position: relative; 
    bottom: 10px; 
    margin-bottom: 0;
}
/*=========
 print po
==========*/
.bottomline-01 {
    left: 5em; 
    width: 220px; 
}
.bottomline-02 {
    left: 5em; 
    width: 220px; 
}
.bottomline-03 {
    left: 119px; 
    width: 313px; 
}
.bottomline-04 {
    left: 66px; 
    width: 366px; 
}
.bottomline-05 {
    left: 59px; 
    width: 307px; 
}
.bottomline-06 {
    left: 59px; 
    width: 305px; 
}
.bottomline-07 {
    left: 31px; 
    width: 334px; 
}
.bottomline-08 {
    left: 53px; 
    width: 373px; 
}
.bottomline-09 {
    left: 39px; 
    width: 391px; 
}
.bottomline-10 {
    left: 119px; 
    width: 240px; 
}
.bottomline-11 {
    left: 113px; 
    width: 249px; 
}
.bottomline-12 {
    left: 105px; 
    width: 315px; 
}
.bottomline-13 {
    left: 100px; 
    width: 320px; 
}
.date-po {
    border-bottom: 1px solid;
    position: relative;
    margin-bottom: 0;
    width: 40%;
    margin-top: 3rem;
}
.com-po {
    border-bottom: 1px solid;
    position: relative;
    margin-bottom: 0;
    width: 65%;
}
.supplier-po {
    border-bottom: 1px solid;
    position: relative;
    width: 70%;
}
.btm-border {
    border-bottom: 1px solid;
    position: absolute;
    margin-bottom: 0;
    width: 50%;
    left: 30rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-02 {
    margin-top: 2rem;
}
.mg-left-5 {
    margin-left: 5rem;
}
.mg-left-10 {
    margin-left: 10rem;
}
.mg-left-12 {
    margin-left: 12rem;
}
.mg-lf-tp {
    margin-left: 12rem;
    margin-top: -1px;
}
.width-70 {
    width: 70%;
}
.p-very {
    left: 35rem;
    position: relative;
    padding: 1rem;
}
.p-inspect {
    margin-left: 5rem;
    margin-top: -1px;
}
.p-pb {
    left: 47rem;
    position: relative;
    padding-bottom: 1rem;
}
.m-position {
    margin-left: 9rem;
    margin-top: -1px;
}
.pad-01 {
    padding-bottom: 1rem;
}
.border-n {
    border: none;
}
.justify-line {
    width: 60%;
    margin-left: 5rem;
}
.inspect-line {
    width: 80%;
    margin-left: 3rem;
}
.notice-line {
    width: 30%;
    left: 49rem;
}
.indent-2 {
    text-indent: 2rem;
}
.p-position-name {
    position: relative;
    top: 18px;
}
.margin-tb {
    margin: 30px 0 30px 0;
}